@mixin media-sm {

    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin media-md {

    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin media-lg {

    @media screen and (min-width: 1024px) {
        @content;
    }
}
@mixin media-xl {

    @media screen and (min-width: 1600px) {
        @content;
    }
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
