*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: $font-family;
}

svg.highcharts-root,.highcharts-container {
    width: 100% !important;

}

