@import "~@fortawesome/fontawesome-free/css/all";
@import "config";
@import "variable";
@import "reset";


.sm-nav {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #a9a9a97d;
    box-shadow: 0px -2px 20px -1px #a9a9a97d;

    .sm-nav-container {
        list-style: none;

        display: flex;
        justify-content: space-evenly;
        width: 100%;
        display: flex;

        .sm-nav-list-link {
            color: #5b5b5b;
            font-size: 2rem;
            padding: 1rem;
            text-decoration: none;
            text-align: center;
            display: flex;
            flex-direction: column;

            .sm-nav-list-link-name {
                font-size: 0.8rem;
                display: none;
                &.active{
                    //display: block ;
                }

            }

            &.active{
                color: $primary-color-light;
            }
        }
    }
}
