.btn {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0.5rem;
    border-radius: 5px;

    &:hover {
        opacity: 0.65;
    }

}

.btn-default {

}

.submit-btn {
    background: #2d3748;
    color: #fff;
    border-radius: 2rem;
    min-width: 5rem;
    height: 2.5rem;
}

.loading-btn {
    border-radius: 2rem;
    background: #2d3748;
    opacity: 0.6;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 4rem;
    text-align: center;
    cursor: wait;

    span {
        margin-left: 0.5rem;
        color: #ececec;
    }
}

.btn-edit {
    background: #072673;
    color: #fff;
    min-width: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    height: 2rem;
    margin: 0.2rem;
}

.btn-delete {
    background: #f25a5a;
    color: #fff;
    min-width: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    height: 2rem;
    margin: 0.2rem;
}

.btn-icon {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    margin-bottom: 1rem;

    &:hover {
        background: #f3f3ff;
        border-color: #f3f3ff;

    }
}
