.card {
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #f1f4ff;
    width: 100%;
    margin-bottom: 1rem;
    //@include custom-shadow;

    .card-header {
        padding: 0.5rem;
        display: flex;
        width: 100%;
        justify-content: space-between;

        .card-title {
            font-size: 16px;
            font-weight: bold;
            border-bottom: 1px solid #cbcbcb;

        }

        .card-header-content{
        }

    }

    .card-body {
        padding: 1rem;
    }

}
