.page-layout {

    .page-header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        width: 100%;
        background: #fff;
        padding: 1rem;
        border-bottom: 1px solid #f1f4ff;

        .page-title {
            flex: 1;
            color: #2d3748;
            font-size: 1.6rem;
        }

        .filter-btns {
            width: 10rem;
            display: flex;
            justify-content: space-around;

            .btn {
                background: #c8c8c8;
                border: none;
                border-radius: 10px;
                padding: 0.5rem;
                cursor: pointer;
                outline: none;

                &.active, &.active:hover {
                    background: $primary-color;
                    color: #f1f4ff;

                }

                &:hover {
                    background: #e2e2e2;
                }

            }
        }

    }

    .page-body {

        padding: 0 1rem;

        .top-row {
            display: flex;
            margin-bottom: 1rem;
            justify-content: space-evenly;
            flex-wrap: wrap;

            > * {
                margin: 0.5rem;

            }

            :first-child {
            }

            :last-child {
            }

        }

        .group-charts {
            display: flex;
            flex-wrap: wrap;
            margin: 0.5rem;

            .chart-col-3 {
            }

            .chart-col-1 {
                flex: 1;
            }
        }
    }
}


