.small-card {
    flex: 1;
    border: 1px solid #f1f4ff;
    border-radius: 10px;
    background: #fff;
    display: flex;
    height: 5rem;
    //@include custom-shadow;

    .small-card-body {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;

        .left-items {
            width: 3.5rem;

            i {
                width: 2.5rem;
                height: 2.5rem;
                background: #791f1f;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: #fff;
                font-size: 1.2rem;

            }
        }

        .right-items {
            .title {
                font-size: 0.7rem;
                color: #949494;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0.2rem;

            }

            .amount {
                font-size: 1.2rem;
                color: #2d3748;
            }

        }


    }
}
